/* Cor de fundo do menu */
.navbar {
  background-color: #0e0740 !important;  
}

/* Cor do texto do menu */
.navbar .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: #ffffff !important;
}

/* Cor do texto quando passar o mouse */
.navbar .navbar-nav .nav-link:hover {
  color: #17c8d4 !important; 
}