/* Cor de fundo do menu */
.navbar {
  background-color: #0e0740 !important;  
}

/* Cor do texto do menu */
.navbar .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: #ffffff !important;
}

/* Cor do texto quando passar o mouse */
.navbar .navbar-nav .nav-link:hover {
  color: #17c8d4 !important; 
}

<style>

.icon-stats {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  max-width: 900;
  margin: 3rem auto;
  text-align: center;
}

/* Fundação ocupa linha inteira */
.icon-stats > .icon-card:first-child {
  grid-column: 1 / -1;
}

.icon-card h4 {
  color: #1f3d2b;   /* verde institucional escuro */
  font-weight: 700;
  margin-top: 12px;
}

.icon-card {
/*  border: 1px solid #2e7d32;        /* verde bem suave */
  color: #4f5d57;     /* cinza esverdeado escuro */
  background: white ;/* #dbead5 */
  padding: 0rem;
  font-weight: 320;
  border-radius: 18px;
  text-align: center;
  
}

/* Força o grid a ignorar o layout de colunas do Quarto */
.page-columns .icon-stats {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  max-width: 1100px;
  margin: 3rem auto;
  padding: 0 4rem;
}

/* Fundação ocupa linha inteira */
.page-columns .icon-stats > .icon-card:first-child {
  grid-column: 1 / -1;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

/* Botao visite */

.cta-wrapper {
  text-align: center;
}

.cta-button {
  display: inline-block;
  margin: 2rem auto;
  padding: 14px 28px;
  background-color: #2e7d32;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
}

/* Contato */

.contact-list li {
  list-style: none;
  margin-bottom: 0.6rem;
}

.contact-list img {
  width: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

/* Redes sociais */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
}

.social-icons img {
  width: 56px;
  height: 56px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icons a:hover img {
  transform: scale(1.12);
  opacity: 0.85;
}

</style>
